body{
    line-height: 1.5;
    color: #650300;
    font-family: 'Noto Sans TC', sans-serif;;
}
/* header end */
.banner{
    background: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner.png?raw=true);
    display: block;
    height: 840px;
    background-size: cover;
    background-position: center center;
}
.banner .container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 840px;
}
.banner .banner-text .title{
   text-align: right;
}
.banner .title  p{
    font-weight: 500;
}
@media(max-width: 768px){
    .banner{
        background: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner-sm.png?raw=true);
    }
    .banner .container{
        padding-right: 8%;
    }
}
@media(max-width:375px){
    .banner{
       height: 394px;
       background-position: center center;
       background-size: cover;
    }
    .banner .container{
        height: 394px;
    }

}

/* banner end  */
.slogan{
    background: #AA06010D;
}
.slogan .slogan-list{
    display: flex;
    justify-content: space-between;
}
.slogan .slogan-list li{
    max-width: 255px;
    margin: 0 1% ;
    text-align: center;
}
.slogan  .slogan-list img{
    width: 83px;
    height: 83px;
    margin-bottom: 24px;
}
.slogan  .slogan-list .feature{
   font-size: 24px;
   margin-bottom: 8px;
   font-weight: bold;
}
.slogan  .slogan-list p{
    text-align: left;
    color: #000;
}

@media(max-width: 768px) {
    .slogan .slogan-list{
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .slogan .slogan-list li{
       width: 48%;
    }
}
@media(max-width:375px){
    .slogan .slogan-list li{
        width: 100%;
     }
}
/* solgan end */

.classic-product .classic-list li{
    display: flex;
}
.classic-product .classic-list li:nth-child(2){
    flex-direction: row-reverse;
}
.classic-product .classic-list .feature{
    margin-right: 30px;
}
.classic-list .product-p{
    max-width: 635px;
    height: 320px;
    margin-right: 30px;
}
.classic-list .feature{
    margin: auto 0;
    font-weight: bold;
    font-size: 48px;
    color:#AA0601;
}
.classic-list .feature img{
    margin-right: 10px;
}
.classic-list .feature i{
    display: inline-block;
    margin-right: 22px;
}
@media(max-width: 768px) {
    .classic-product .classic-list li:nth-child(2){
        flex-direction: row;
    }
    .classic-list .product-p{
        max-width: 390px;
        height: 168px;
    }
    .classic-list li{
        padding-left: 39px;
    }
    .classic-list .feature{
        font-size: 28px;
    }
    .classic-list .icon-sun,  .classic-list .icon-thunder{
        width: 36px ;
        height: 36px;
    }
}
@media(max-width:375px){
    .classic-product .classic-list li{
        flex-direction: column;
        padding: 0 15px;
    }

    .classic-list .product-p{
        width: 100%;
        height: 134px;
        margin-right: 0px;
        display: block;
        position: relative;
    }
    .classic-list .feature{
        font-size: 28px;
        position: absolute;
        padding-top: 50px;
        padding-left: 72px;
        font-family: 'Roboto', sans-serif;
    }
    .classic-list .feature i {
        margin-right: 10px;
    }
 }
/* classic end */

.co-branding{
    background: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/bg.png?raw=true)  center center;
    height: 705px;
}
.co-branding .title{
    color: #fff;
}
.co-branding-list{
    display: flex;
    justify-content: space-between;
}
.co-branding-list .brand-1{
    background:url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/product-8.png?raw=true);
    background-position: center center;
    background-size: cover;
    width: 540px;
    height: 455px; 
}
.co-branding-list .brand-2{
    background: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/product-9.png?raw=true) center center;
    background-size: cover;
    width: 540px;
    height: 455px;
}
.co-branding-list li{
    position: relative;
    filter: brightness(1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.brand-f{
    width: 100%;
    height: 455px;
    position: absolute;
    top: 0;
    bottom: 0;
    background:#fff;
    opacity: 0.5;
}
.co-branding-list .brand-n{
    font-size: 72px;
    font-weight: bold;
    z-index: 100;
    color: #AA0601;
}
@media(max-width: 768px) {
    .co-branding{
        height: 452px;
        background-size: cover;
    }
    .co-branding-list .brand-1, .co-branding-list .brand-2{
        width: 330px;
        height: 278px;
    }
    .brand-f{
        height: 278px;
    }
    .co-branding-list .brand-n{
        font-size: 32px;
    }
    .co-branding-list{
        justify-content: space-evenly;
    }
}
@media(max-width:576px){
    .co-branding{
        height: 719px;
    }
    .co-branding-list .brand-1, .co-branding-list .brand-2{
        width: 345px;
        height: 291px;
    }
    .brand-f{
        height: 291px;
    }
   .co-branding-list{
       flex-wrap: wrap;
       
   }
}
/* co-branding end */

.recomment .rec-list{
    display: flex;
    justify-content: space-between;
}
.recomment .rec-item{
    max-width: 255px;
    margin-right:1%;
    margin-left: 1%;
    border: 1px solid #DEE2E6;
    box-shadow: 0 2px 6px #00000029;
}
.rec-item .customer{
    height: 256px;
}
.rec-list .rec-item .content{
    width: 223px;
    height: 202px;
    padding: 16px; 
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.rec-list .rec-item .content .name{
    font-size: 14px;
}
.rec-list .rec-item .content .time{
    color: #707070;
}
@media(max-width: 768px){
    .recomment .rec-list{
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .recomment .rec-item{
        max-width: 330px;
    }
    .rec-list .rec-item .content {
        padding: 16px 24px;
    }
       
}

/* recomment end */
.contact{
    background: #AA06010D;
    color: #000;
}
.contact p{
    font-size: 20px;
}
.contact .customer{
    display: flex;
    flex-direction: column;
}
.contact .customer label{
    display: block;
}
.customer .item, .customer .opinion textarea{
    width: 100%;
    height: 50px;
    text-indent: 10px;
    background: #AA06010D;
    resize: none;
    outline: none;
    border: 1px solid #000;
}
.customer .item:focus, .customer .opinion textarea:focus{
    box-shadow: 3px 2px 10px #ebc2c2;
}
.customer .opinion textarea{
    padding: 10px;
    height: 136px;
}
.checkbox{
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}
.checkbox_input{
    display: none;
}
.checkbox_box{
    width: 1em;
    height: 1em;
    border: 1px solid #000;
    border-radius: 2px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 4px;
    flex-shrink: 0;
}
.checkbox_box::after{
    content: '\2715';
    transform: scale(0);
}
.checkbox_input:checked +.checkbox_box::after{
    transform: scale(1);
}
.btn input{
    display: block;
    resize: none;
    outline: transparent;
    border: none;
    background: #AA0601;
    color: #fff;
    line-height: 54px;
    width: 350px;
    margin: 0 auto;
    font-size: 16px;
}
.btn input:hover{
    background: #650300;
}

@media(max-width: 768px) {
    .contact p{
        font-size: 16px;
    }
    .contact .customer,.agree .checkbox{
        font-size: 14px;
    }
    .checkbox_box{
        margin-right: 0px;
    }
    .btn input{
        width: 210px;
        line-height: 38px;
        font-size: 14px;
    }
    .customer .item, .customer .opinion textarea{
        height: 36px;
    }
    .customer .opinion textarea{   height: 100px;
    }
    .customer .opinion textarea{
        padding: 10px 0 0 0;
    }
    .agree{
        height: 42px;
    }
}

/* end of contact */