.p-y{
    padding: $p-y;
    @include ipad(){
    padding:$p-y-md;
     @include iphone(){
         padding: $p-y-sm;
     }
    }
}    
.mb-8{
    margin-bottom: $mb-8;
    @include ipad(){
        margin-bottom: $mb-6;
        @include iphone(){
            margin-bottom: $mb-5;
        }
    }
}
.mb-9{
    margin-bottom: $mb-9;
    @include ipad(){
        margin-bottom: $mb-8;
        @include iphone(){
            margin-bottom: $mb-6;
        }
    }
}
.mb-15{
    margin-bottom: $mb-15;
    @include ipad(){
        margin-bottom: $mb-10;
        @include iphone(){
            margin-bottom: $mb-6;
        }
    }
}

.content_q{
    color: $color;
  .title{
    font-size:$font-l;
    @include flexBox(row);
    text-align: left;
    p{
    display: inline;   
    } 
    span{
    @include box(70px,4px,#9F1213);
    margin-right: 16px;
      @include iphone(){
        @include box(40px,2px,#9F1213);
        margin-right: 8px;
      }
    }
    @include iphone(){
        font-size: $font-s-sm;
    }
  }
}
.main_que{
    .subtitle{
        font-size: $font-m;
        font-weight: bold;
      @include iphone(){
        font-size: $font-s;}
    }
    .question{ 
      .que{
        font-size: $font-s;
        margin-bottom: $mb-4;
        font-weight: bold;
        @include iphone(){
            font-size: $font-d;
            margin-bottom: $mb-2;
        }
      }
      .ans{
        font-size: $font-d;
        padding-left: $p-l;
        .mobile{
            display: none;
        }
          @include iphone(){
            font-size: $font-xs;
            padding-left: 0;
            .non-mobile{
                display: none;
            }
            .mobile{
                display: block;
            }
        } }
    }    
}