// margin-bottom
$mb-1:4px;
$mb-2:$mb-1 * 2; //8px
$mb-4: $mb-1 * 4; //16px
$mb-5: $mb-1 * 5; //20px
$mb-6: $mb-1 * 6; //24px
$mb-8: $mb-1 * 8; //32px
$mb-9: $mb-1 * 9; //36px
$mb-10: $mb-1 * 10; //40px
$mb-15: $mb-1 * 15; //60px

// p-y
$p-y: 96px 0 160px 0 ;
$p-y-md: 60px 39px 96px 39px;
$p-y-sm: 28px 15px 56px 15px;
$p-l: 95px;

// 顏色
$color:#000;

// 字體大小
$font-l: 48px;
$font-m: 32px;
$font-s-sm: 28px;
$font-s-md: 24px;
$font-s: 20px;
$font-d: 16px;
$font-xs: 14px; 


// flexbox
@mixin flexBox($direction) {
    display: flex;
    flex-direction: $direction;
}
@mixin flexAlign($alignItems, $justifyContent) {
        align-items: $alignItems;
        justify-content: $justifyContent;
      }

@mixin box($h-px,$bd-px,$color){
    height: $h-px;
    border: $bd-px solid $color;
}
@mixin bg-img {
    display: block;
    background-position: center center;
    background-size: cover;
}
@mixin ipad {
    @media(max-width: 768px){
        @content;
    }
}
@mixin iphone {
    @media(max-width: 375px){
        @content;
    }
}
