@import url(https://fonts.google.com/share?selection.family=Noto%20Sans%20TC);
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(https://fonts.google.com/share?selection.family=Noto%20Sans%20TC);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  line-height: 1.5;
  font-family: 'Noto Sans TC', sans-serif; }

.f-1 {
  font-size: 36px; }

.f-2 {
  font-size: 64px; }

.mb-1 {
  margin-bottom: 4px; }

.mb-2 {
  margin-bottom: 8px; }

.mb-4 {
  margin-bottom: 16px; }

.mb-5 {
  margin-bottom: 20px; }

.mb-6 {
  margin-bottom: 24px; }

.mb-8 {
  margin-bottom: 32px; }

.mb-9 {
  margin-bottom: 36px; }

.mb-10 {
  margin-bottom: 40px; }

.mb-12 {
  margin-bottom: 48px; }

.mr-34 {
  margin-right: 34px; }

.p-y {
  padding-top: 60px;
  padding-bottom: 80px; }

.text-align-r {
  text-align: right; }

.container {
  max-width: 1110px;
  margin: 0 auto; }

.container-2 {
  max-width: 730px;
  margin: 0 auto; }

a {
  text-decoration: none;
  color: #fff; }

.title {
  font-weight: bold;
  font-size: 48px;
  text-align: center; }

@media (max-width: 768px) {
  .title {
    font-size: 32px; }
  .f-1-md {
    font-size: 20px; }
  .f-2-md {
    font-size: 48px; }
  .p-y-md {
    padding-top: 40px;
    padding-bottom: 56px; }
  .mb-2-md {
    margin-bottom: 8px; }
  .mb-3-md {
    margin-bottom: 12px; }
  .mb-4-md {
    margin-bottom: 16px; }
  .mb-4-5-md {
    margin-bottom: 18px; }
  .mb-5-md {
    margin-bottom: 20px; }
  .mb-8-md {
    margin-bottom: 32px; }
  .mb-10-md {
    margin-bottom: 40px; }
  .mb-14-md {
    margin-bottom: 56px; }
  .mr-20-md {
    margin-right: 20px; }
  .mr-40-md {
    margin-right: 40px; }
  .container-2-md {
    max-width: 450px;
    margin: 0 auto; } }

@media (max-width: 375px) {
  .f-2-sm {
    font-size: 32px; }
  .mr-0-sm {
    margin-right: 0px; }
  .mb-2-sm {
    margin-bottom: 8px; } }

/* css page */
.header {
  background: #AA0601;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 39px;
  height: 108px; }

.logo {
  background: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/logo.png?raw=true) no-repeat;
  width: 80px;
  height: 49px;
  display: block;
  background-size: contain;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  padding-left: 49px; }

.header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.header .menu a {
  display: block;
  padding: 15px;
  font-size: 20px;
  border-bottom: 3px solid transparent; }

.header .menu a:hover {
  border-bottom: 3px solid #fff; }

@media (max-width: 768px) {
  .header .menu a {
    padding: 2px 0; } }

@media (max-width: 375px) {
  .header {
    height: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0; }
  .header h1 {
    height: 50px; }
  .logo {
    width: 48px;
    height: 29px;
    background-position: center center; }
  .header .menu {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .header .menu-list {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    text-align: center; }
  .header .menu a {
    padding: 8px 9px;
    border-top: 1px solid #fff; }
  .border-l {
    border-left: 1px solid #fff; }
  .header .menu a:hover {
    border-bottom: none;
    background: #bf5869; }
  .header .menu-list:hover {
    background: #bf5869; } }

/* footer */
.footer {
  background: #AA0601;
  color: #fff; }

.footer_top, .footer_bot, .footer_top .menu, .social-link, .privacy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.footer_top .menu-list a {
  display: block;
  padding: 10px 48px 10px 0; }

.footer_top .menu-list a:hover, .footer_bot li a:hover {
  font-weight: bold; }

.footer_top .social-link li {
  padding-left: 32px; }

.footer_top {
  padding-top: 34px; }

.footer .info {
  height: 48px; }

.footer .info:hover {
  font-weight: bold; }

.footer .info .phone_icon {
  margin-right: 22px; }

.footer .info .mail_icon {
  margin-right: 10px; }

.footer .info .phone_icon, .footer .info .mail_icon {
  padding-bottom: 18px; }

.footer .contact_info {
  display: inline-block;
  font-size: 36px; }

.footer_bot {
  padding: 32px 0 39px 0;
  border-top: 1px solid #fff;
  font-size: 14px; }

.footer_bot .privacy li {
  padding-left: 48px; }

@media (max-width: 768px) {
  .footer {
    padding-left: 43px;
    padding-right: 39px; }
  .footer_top {
    padding-top: 38px; }
  .footer_top .menu-list a {
    padding: 0 5px; }
  .footer_bot {
    padding: 24px 0 32px 0; }
  .footer_bot .privacy li {
    padding-left: 24px; }
  .footer .contact_info {
    font-size: 20px; }
  .footer .info {
    height: 26px; }
  .footer .info .phone_icon, .footer .info .mail_icon {
    padding-bottom: 1px;
    width: 18px;
    height: 18px;
    margin-right: 10px; }
  .footer_top .social-link li {
    padding-left: 24px; }
  .footer_top .social-link img {
    width: 24px;
    height: 24px; } }

@media (max-width: 576px) {
  .footer {
    padding: 24px 15px;
    position: relative; }
  .footer_top {
    padding-top: 0; }
  .footer_top {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .footer_top .menu {
    display: none; }
  .container_f {
    width: 200px;
    height: 100px;
    position: absolute;
    top: 24px;
    right: 0;
    left: 15px; }
  .footer_bot {
    margin-top: 50px; }
  .footer_bot, .privacy {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .footer_bot {
    padding: 16px 0 0 0; }
  .footer_bot .privacy li {
    padding-left: 0; }
  .container_f .info .contact_info {
    font-size: 16px; }
  .footer .info:hover {
    font-weight: normal; }
  .footer .info a:hover {
    color: #bf5869; } }

body {
  line-height: 1.5;
  color: #650300;
  font-family: 'Noto Sans TC', sans-serif; }

/* header end */
.banner {
  background: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner.png?raw=true);
  display: block;
  height: 840px;
  background-size: cover;
  background-position: center center; }

.banner .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 840px; }

.banner .banner-text .title {
  text-align: right; }

.banner .title p {
  font-weight: 500; }

@media (max-width: 768px) {
  .banner {
    background: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner-sm.png?raw=true); }
  .banner .container {
    padding-right: 8%; } }

@media (max-width: 375px) {
  .banner {
    height: 394px;
    background-position: center center;
    background-size: cover; }
  .banner .container {
    height: 394px; } }

/* banner end  */
.slogan {
  background: #AA06010D; }

.slogan .slogan-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.slogan .slogan-list li {
  max-width: 255px;
  margin: 0 1%;
  text-align: center; }

.slogan .slogan-list img {
  width: 83px;
  height: 83px;
  margin-bottom: 24px; }

.slogan .slogan-list .feature {
  font-size: 24px;
  margin-bottom: 8px;
  font-weight: bold; }

.slogan .slogan-list p {
  text-align: left;
  color: #000; }

@media (max-width: 768px) {
  .slogan .slogan-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly; }
  .slogan .slogan-list li {
    width: 48%; } }

@media (max-width: 375px) {
  .slogan .slogan-list li {
    width: 100%; } }

/* solgan end */
.classic-product .classic-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.classic-product .classic-list li:nth-child(2) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }

.classic-product .classic-list .feature {
  margin-right: 30px; }

.classic-list .product-p {
  max-width: 635px;
  height: 320px;
  margin-right: 30px; }

.classic-list .feature {
  margin: auto 0;
  font-weight: bold;
  font-size: 48px;
  color: #AA0601; }

.classic-list .feature img {
  margin-right: 10px; }

.classic-list .feature i {
  display: inline-block;
  margin-right: 22px; }

@media (max-width: 768px) {
  .classic-product .classic-list li:nth-child(2) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .classic-list .product-p {
    max-width: 390px;
    height: 168px; }
  .classic-list li {
    padding-left: 39px; }
  .classic-list .feature {
    font-size: 28px; }
  .classic-list .icon-sun, .classic-list .icon-thunder {
    width: 36px;
    height: 36px; } }

@media (max-width: 375px) {
  .classic-product .classic-list li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 15px; }
  .classic-list .product-p {
    width: 100%;
    height: 134px;
    margin-right: 0px;
    display: block;
    position: relative; }
  .classic-list .feature {
    font-size: 28px;
    position: absolute;
    padding-top: 50px;
    padding-left: 72px;
    font-family: 'Roboto', sans-serif; }
  .classic-list .feature i {
    margin-right: 10px; } }

/* classic end */
.co-branding {
  background: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/bg.png?raw=true) center center;
  height: 705px; }

.co-branding .title {
  color: #fff; }

.co-branding-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.co-branding-list .brand-1 {
  background: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/product-8.png?raw=true);
  background-position: center center;
  background-size: cover;
  width: 540px;
  height: 455px; }

.co-branding-list .brand-2 {
  background: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/product-9.png?raw=true) center center;
  background-size: cover;
  width: 540px;
  height: 455px; }

.co-branding-list li {
  position: relative;
  -webkit-filter: brightness(1);
          filter: brightness(1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.brand-f {
  width: 100%;
  height: 455px;
  position: absolute;
  top: 0;
  bottom: 0;
  background: #fff;
  opacity: 0.5; }

.co-branding-list .brand-n {
  font-size: 72px;
  font-weight: bold;
  z-index: 100;
  color: #AA0601; }

@media (max-width: 768px) {
  .co-branding {
    height: 452px;
    background-size: cover; }
  .co-branding-list .brand-1, .co-branding-list .brand-2 {
    width: 330px;
    height: 278px; }
  .brand-f {
    height: 278px; }
  .co-branding-list .brand-n {
    font-size: 32px; }
  .co-branding-list {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly; } }

@media (max-width: 576px) {
  .co-branding {
    height: 719px; }
  .co-branding-list .brand-1, .co-branding-list .brand-2 {
    width: 345px;
    height: 291px; }
  .brand-f {
    height: 291px; }
  .co-branding-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }

/* co-branding end */
.recomment .rec-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.recomment .rec-item {
  max-width: 255px;
  margin-right: 1%;
  margin-left: 1%;
  border: 1px solid #DEE2E6;
  -webkit-box-shadow: 0 2px 6px #00000029;
          box-shadow: 0 2px 6px #00000029; }

.rec-item .customer {
  height: 256px; }

.rec-list .rec-item .content {
  width: 223px;
  height: 202px;
  padding: 16px;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.rec-list .rec-item .content .name {
  font-size: 14px; }

.rec-list .rec-item .content .time {
  color: #707070; }

@media (max-width: 768px) {
  .recomment .rec-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly; }
  .recomment .rec-item {
    max-width: 330px; }
  .rec-list .rec-item .content {
    padding: 16px 24px; } }

/* recomment end */
.contact {
  background: #AA06010D;
  color: #000; }

.contact p {
  font-size: 20px; }

.contact .customer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.contact .customer label {
  display: block; }

.customer .item, .customer .opinion textarea {
  width: 100%;
  height: 50px;
  text-indent: 10px;
  background: #AA06010D;
  resize: none;
  outline: none;
  border: 1px solid #000; }

.customer .item:focus, .customer .opinion textarea:focus {
  -webkit-box-shadow: 3px 2px 10px #ebc2c2;
          box-shadow: 3px 2px 10px #ebc2c2; }

.customer .opinion textarea {
  padding: 10px;
  height: 136px; }

.checkbox {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer; }

.checkbox_input {
  display: none; }

.checkbox_box {
  width: 1em;
  height: 1em;
  border: 1px solid #000;
  border-radius: 2px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 4px;
  -ms-flex-negative: 0;
      flex-shrink: 0; }

.checkbox_box::after {
  content: '\2715';
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0); }

.checkbox_input:checked + .checkbox_box::after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1); }

.btn input {
  display: block;
  resize: none;
  outline: transparent;
  border: none;
  background: #AA0601;
  color: #fff;
  line-height: 54px;
  width: 350px;
  margin: 0 auto;
  font-size: 16px; }

.btn input:hover {
  background: #650300; }

@media (max-width: 768px) {
  .contact p {
    font-size: 16px; }
  .contact .customer, .agree .checkbox {
    font-size: 14px; }
  .checkbox_box {
    margin-right: 0px; }
  .btn input {
    width: 210px;
    line-height: 38px;
    font-size: 14px; }
  .customer .item, .customer .opinion textarea {
    height: 36px; }
  .customer .opinion textarea {
    height: 100px; }
  .customer .opinion textarea {
    padding: 10px 0 0 0; }
  .agree {
    height: 42px; } }

/* end of contact */
.content {
  color: #555555; }

.content .title {
  font-size: 48px;
  text-align: left;
  color: #000000; }

.title2 {
  font-size: 32px;
  color: #650300; }

.subtitle {
  font-size: 20px;
  color: #000;
  font-weight: bold; }

.f-1 {
  font-size: 20px; }

.mb-13 {
  margin-bottom: 52px; }

.mb-15 {
  margin-bottom: 60px; }

.mb-24 {
  margin-bottom: 96px; }

.mr-48 {
  margin-right: 48px; }

.mb-40 {
  margin-bottom: 160px; }

@media (max-width: 768px) {
  .container {
    padding-left: 39px;
    padding-right: 44px; }
  .mr-32-md {
    margin-right: 32px; }
  .mb-6-md {
    margin-bottom: 24px; }
  .mb-8-md {
    margin-bottom: 32px; }
  .mb-10-md {
    margin-bottom: 40px; }
  .mb-16-md {
    margin-bottom: 64px; }
  .mb-24-md {
    margin-bottom: 96px; }
  .title2 {
    font-size: 20px; }
  .subtitle {
    font-size: 16px; } }

@media (max-width: 576px) {
  .mb-0-sm {
    margin-bottom: 0; }
  .mb-2-sm {
    margin-bottom: 8px; }
  .mb-5-sm {
    margin-bottom: 20px; }
  .mb-10-sm {
    margin-bottom: 40px; }
  .mb-14-sm {
    margin-bottom: 56px; }
  .container {
    padding: 0 15px; }
  .title2 {
    font-size: 16px; }
  .subtitle {
    font-size: 14px; } }

/* css end */
.top_menu {
  background: #650300; }

.top_menu .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.top_menu .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.top_menu .menu .menu-list a {
  font-size: 20px;
  display: block;
  padding: 12px 0; }

.top_menu .search img {
  width: 29px;
  height: 29px; }

.top_menu .menu .menu-list a:hover {
  font-weight: bold;
  color: #f2c7c7; }

@media (max-width: 768px) {
  .top_menu .menu .menu-list a {
    font-size: 16px;
    padding: 16px 0; }
  .top_menu .container {
    padding-left: 39px;
    padding-right: 44px; } }

@media (max-width: 576px) {
  .top_menu {
    display: none; } }

/* top_menu end */
.title .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.content .title span {
  height: 70px;
  border: 4px solid #9F1213;
  background: #9F1213;
  margin-right: 16px; }

@media (max-width: 576px) {
  .title {
    padding: 28px 0; } }

/* title end */
.act-list .act-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.activities .act-item .act {
  width: 635px;
  height: 400px; }

.act-item .subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.content .time {
  font-size: 16px;
  font-weight: normal; }

.content .act-explain {
  margin-bottom: 14px; }

.content_box {
  width: 475px;
  padding-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: justify;
      align-content: space-between; }

.content_box .content {
  height: 352px; }

.more_box {
  height: 48px; }

.more {
  height: 48px;
  font-size: 36px;
  text-align: right;
  font-weight: bold;
  color: #650300; }

.act-explain-md {
  display: none; }

@media (max-width: 768px) {
  .act img {
    width: 330px;
    height: 208px; }
  .activities .act-item .act {
    width: 330px;
    height: 208px; }
  .content_box {
    width: 322px;
    height: 208px;
    padding-right: 0; }
  .act-explain {
    display: none; }
  .act-explain-md {
    display: block;
    font-size: 14px; }
  .act-explain-md span {
    font-weight: bold;
    font-family: 'Noto Sans TC', sans-serif; }
  .more_box {
    display: none; }
  .content .time {
    font-size: 14px; }
  .content_box a {
    color: #555555; } }

@media (max-width: 768px) and (max-width: 576px) {
  .act-explain-md {
    display: none; }
  .act-list .act-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .act img, .activities .act-item .act {
    width: 345px;
    height: 217px;
    margin-bottom: 8px; }
  .content_box {
    width: 345px;
    height: 50px; }
  .act .sm_open {
    display: block; } }

/* activities end */
.pagination .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.pagination ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.pagination li {
  border-right: 1px solid #555555;
  border-top: 1px solid #555555;
  border-bottom: 1px solid #555555; }

.pagination li:last-child {
  background: #F2F2F2; }

.pagination li:first-child {
  border-left: 1px solid #555555; }

.pagination li a {
  font-size: 18px;
  display: block;
  padding: 12px 16px;
  color: #555555; }

.pagination li a:hover {
  color: #fff;
  background: #000; }

.pagination .f-4 {
  font-size: 19px; }

@media (max-width: 576px) {
  .pagination .container {
    padding: 0 15px; }
  .pagination li a {
    font-size: 16px;
    padding: 12px 15px; }
  .pagination .f-4 {
    width: 75px;
    font-size: 17px; }
  .pagination .f-4 a {
    display: block;
    padding: 12px; } }

/* pagination end */
.p-y {
  padding: 96px 0 160px 0; }
  @media (max-width: 768px) {
    .p-y {
      padding: 60px 39px 96px 39px; } }
  @media (max-width: 768px) and (max-width: 375px) {
    .p-y {
      padding: 28px 15px 56px 15px; } }

.mb-8 {
  margin-bottom: 32px; }
  @media (max-width: 768px) {
    .mb-8 {
      margin-bottom: 24px; } }
  @media (max-width: 768px) and (max-width: 375px) {
    .mb-8 {
      margin-bottom: 20px; } }

.mb-9 {
  margin-bottom: 36px; }
  @media (max-width: 768px) {
    .mb-9 {
      margin-bottom: 32px; } }
  @media (max-width: 768px) and (max-width: 375px) {
    .mb-9 {
      margin-bottom: 24px; } }

.mb-15 {
  margin-bottom: 60px; }
  @media (max-width: 768px) {
    .mb-15 {
      margin-bottom: 40px; } }
  @media (max-width: 768px) and (max-width: 375px) {
    .mb-15 {
      margin-bottom: 24px; } }

.content_q {
  color: #000; }
  .content_q .title {
    font-size: 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: left; }
    .content_q .title p {
      display: inline; }
    .content_q .title span {
      height: 70px;
      border: 4px solid #9F1213;
      margin-right: 16px; }
      @media (max-width: 375px) {
        .content_q .title span {
          height: 40px;
          border: 2px solid #9F1213;
          margin-right: 8px; } }
    @media (max-width: 375px) {
      .content_q .title {
        font-size: 28px; } }

.main_que .subtitle {
  font-size: 32px;
  font-weight: bold; }
  @media (max-width: 375px) {
    .main_que .subtitle {
      font-size: 20px; } }

.main_que .question .que {
  font-size: 20px;
  margin-bottom: 16px;
  font-weight: bold; }
  @media (max-width: 375px) {
    .main_que .question .que {
      font-size: 16px;
      margin-bottom: 8px; } }

.main_que .question .ans {
  font-size: 16px;
  padding-left: 95px; }
  .main_que .question .ans .mobile {
    display: none; }
  @media (max-width: 375px) {
    .main_que .question .ans {
      font-size: 14px;
      padding-left: 0; }
      .main_que .question .ans .non-mobile {
        display: none; }
      .main_que .question .ans .mobile {
        display: block; } }

/*# sourceMappingURL=all.css.map */
